.main-header {
  min-height: 56px;
  width: 100%;

  position: relative;

  z-index: 1;
}

.main-header__logo-link {
  position: absolute;

  top: 0;
  left: 50%;

  width: 185px;
  height: 96px;

  transform: translateX(-50%) scale(1);
  transform-origin: top;

  transition: transform 0.5s ease, opacity 0.3s ease;

  &:hover {
    transform: translateX(-50%) scale(1.2);
  }

  &:active {
    opacity: 0.8;
  }
}
