@use "../global/variables" as var;
@use "../global/mixins" as mix;

.main-button {
  width: 100%;
  min-height: 58px;

  padding: 10px;

  @include mix.font(var.$bright-text, 21px, 700, 26px);

  text-transform: uppercase;

  background-color: var.$additional-background;
  border: none;

  box-sizing: border-box;

  cursor: pointer;
}
