@use "../global/variables" as var;

.main-navigation__toggle {
  z-index: 10;
}

.main-navigation__wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 5;

  @media (min-width: var.$tablet-width) {
    position: initial;
  }
}

.main-navigation--closed .main-navigation__wrapper {
  display: none;

  @media (min-width: var.$tablet-width) {
    display: block;
  }
}

.page__body--no-js .main-navigation__wrapper {
  display: block;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
}
