@use "../global/variables" as var;
@use "../global/mixins" as mix;

.page {
  height: 100%;
}

.page__body {
  @include mix.font(var.$main-text, 14px, 400, 21px);

  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  min-height: 100%;

  margin: 0;

  background-color: var.$secondary-background;

  overflow-x: hidden;
}

.page__wrapper {
  background-color: var.$main-background;

  @media (min-width: var.$desktop-width) {
    margin: 0 auto;

    width: 1200px;

    box-shadow: 0 5px 15px 0 rgba(var.$main-shadow, 0.2);
  }
}
