@use "../global/variables" as var;
@use "../global/mixins" as mix;

.photo-catalog__title {
  padding: 37px 20px 38px 20px;

  @media (min-width: var.$tablet-width) {
    padding: 66px 162px 83px 162px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 98px 377px 89px 377px;
  }
}

.photo-catalog__list {
  @include mix.list-reset;

  padding: 0 20px;

  @media (min-width: var.$tablet-width) {
    padding: 0 60px;

    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0;
  }
}
