// COLORS

$white: #ffffff;
$light-grey: #f2f2f2;
$basic-grey: #eeeeee;
$special-grey: #e6e6e6;
$dark-grey: #e5e5e5;
$basic-blue: #81b3d2;
$special-blue: #669ec0;
$dark-blue: #5496bd;
$status-error: #ff0000;
$brown: #766357;
$dark: #333333;
$shadow: #000101;
$dark-shadow: #010101;
$black: #000000;

// TEXT COLORS

$main-text: $dark;
$heading-text: $black;
$bright-text: $white;
$current-navigation-link: $brown;

// BACKGROUND COLORS

$main-background: $white;
$secondary-background: $light-grey;
$additional-background: $basic-blue;
$reverse-background: $black;
$advantages-background: $basic-grey;

// SHADOWS

$main-shadow: $shadow;
$navigation-shadow: $dark-shadow;
$bright-shadow: $white;

// DIVIDER

$divider: #d6d6d6;

// VIEWPORTS

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
